# Copy this file to .env and fill in your real values

PORT=
NODE_ENV=

# Database
DB_URI=

# Admin JWT
ADMIN_JWT_SECRET=
ADMIN_JWT_EXPIRES_IN=

# Admin Refresh Token
ADMIN_REFRESH_SECRET=
ADMIN_REFRESH_EXPIRES_IN=
